* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* //Main section set up  */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    width: 100%;
    background-color: #fff;
    padding-bottom: 1000px;
}

/* ------------//Navigation Setup--------------- */


header {
width: 100%;
height: 70px;
justify-content: center;
align-items: center;
display: flex;
}

.headeCover {
    border-bottom: 1px solid lightgray;
    
    width: 80%;
}
.logo {
    flex: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    min-width: 70%;
    height: 70px;
    margin: 0px 140px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px 0 13px;
}

.navigateLinks {
    flex: 1;
    margin-left: 160px;
}

.navigateLinks ul {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: right;
    width: 100%;
}

.navigateLinks ul li{
    margin: 0px 25px;
    list-style: none;
    color: #333333;
    font-size: 16px;
    text-align: center;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.navigateLinks ul li a{
    text-decoration: none;
    color: #333333;
}

/* -------Downloader Section----------- */
.videoDownloader {
    /* padding: 5%; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.videoDownloader h1 {
    font-family: 'Roboto', Helvetica, sans-serif;
    color: #333;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 60px;
}

input {
    width: 524px;
    height: 50px;
    padding: 0 40px 0 12px;
    font-size: 16px;
    color: #333;
    border: 5px solid #7ED214;
}

.videoSearch .btn {
    padding:17px 40px;
    background-color: #7ED214;
    border: 0;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 700;
}

.videoDownloader p {
    text-align: left;
    margin-left: -230px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
    padding: 4px 0 0;
    font-weight: 300;
    
}

.videoDownloader span {
    text-decoration: underline;
    color: #006CAA;
}


.videoDownloader h5{
    padding-top: 30px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.videoDownloader h5 a {
    color: #0075FF;
}


/* ---------------------Social Links Section ----------------------- */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container h4 {
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #333333;
    font-weight: 400;
}

.container .lamp {
    width: 20px;
}

.advert {
    display: flex;
    justify-content: right;
    flex-direction: column;
    /* align-items: center; */
    text-align: end;
    width: 70%;
    margin-top: 40px;
}

.advert p {
   text-align: end;
   padding-right: 48px;
}

.advertImg{
    padding-left: 50px;
    width: 95%;
}
.socialLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
}
.socialLinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
}

.socialLinks ul li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    margin: 10px 0;
    list-style: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background: #9de4f177;
    height: 50px;
    width: 200px;
    margin-inline: 10px ;
    border-radius: 5px;
}

.socialLinks ul li a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #000000;    
    text-decoration: none;
}
.socialLinks .fa-brands{
    /* width: 30px; */
    font-size: 40px;
    margin-right: 20px;
}

.socialLinks .fa-square-facebook{
    color: #0075FF;
}

.socialLinks .fa-square-instagram{
    color: rgba(212, 0, 255, 0.74);
}

.socialLinks .fa-youtube {
    color: red;
    background-color: white;
    border-radius: 5px;
}

.socialLinks .fa-square-twitter {
    color:#0075FF;
}



/* --------------------------All Resource Section------------------------ */

.allResources {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.allResources h3 {
    color: #333333;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 50px 0 30px;
}

.resourceLinks {
    display: grid;
    grid-template-columns: repeat(4, 250px) ;
    margin-bottom: 30px;
}

.resourceLinks p a{
    color:#000000;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 0 0 0 36px;
    text-decoration: none;
    font-weight: 400;
    display: inline-flex;
    justify-content: left;
    align-items: center;
    text-align: start;
    margin-bottom: 20px;

}

.resourceLinks .fa-brands , .fa-solid{
    font-size: 30px;
    margin-right: 20px;
}

.resourceLinks .fa-vimeo {
    color: rgb(25, 160, 238);
}

.resourceLinks .fa-vk {
    color: rgb(25, 82, 238);
}

.resourceLinks .fa-square-odnoklassniki {
    color: orange;
}

.resourceLinks .fa-soundcloud {
    color: orange;
}

.resourceLinks .fa-tiktok {
    color: black;
}

.resourceLinks .fa-globe {
    color:#7ED214;
}

/* ------------------------User Guide Section --------------------------- */

.userGuide {
    width: 70%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 35px;
}

.userGuide h1, .saveOnline h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Roboto',sans-serif;
    margin-bottom: 30px;
}

.userGuide p {
    line-height: 30px;
    font-size: 22px;
    color: #333333;
    margin-bottom: 15px;
}

/* -------------------------How to save Online---------------- */
.saveOnline {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.saveOnlineContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eaf1f5;
    border-radius: 5px;
}

.saveOnline h1 {
    font-size: 35px;
}

.saveRow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;

    
}
 .colspan1 p{
    text-align: left;
    font-size: 22px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
}

.colspan1 {
   width: 450px;
    padding: 2%;
}
.colspan1 .saveImg {
    width: 100%;
    height: auto;
}

.colspan1 button {
    height: 70px;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    background-color: #7ED214;
    border: 0;
    border-radius: 7px;
}

.colspan1 span {
    text-decoration: underline;
    color: #7ED214;
}







